.banner {
  background-image: url("https://unsplash.it/1300/600?random");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1{
  color: lightgrey;
  font-weight: bold;
}

.banner p {
  color : lightgrey;
  opacity : 7;
  font-size: 20px;
  font-weight: lighter;
}
